header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #ffffff;
}

body header{
  text-align: center;
  border-top: solid black;
  border-bottom: solid black;
  margin-top: 1em;
}

body header ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body header li {
  display: flex;
  font-size: 1.5em;
  list-style: none;
  margin-left: 1em;
}

.container {
  margin-top: 1em;
}

.badge-react {
  background-color: #00d8ff;
}

.badge-mongo{
  background-color: #7fc857;
}